/* 공통 성성 */
html {
  height: 100%;
}

body {
  height: 100%;
}

.body__container {
  font-family: "East Sea Dokdo", cursive;
  font-size: 16px;
  font-weight: 400;
  color: antiquewhite;
  height: 100%;
}

.section {
  width: 100%;
  height: auto;
  background-color: rgb(227, 226, 226);
}

.inner {
  width: 95%;
  background-color: grey;
  margin: 0 auto;
  border-bottom: 1px solid whitesmoke;
  box-shadow: 0px 0px 8px #333;
}

/* HEADER */
header > .inner {
  height: 200px;
}

.nav_bar {
  position: relative;
}

.nav_bar > i {
  color: black;
  font-size: 50px;
  position: absolute;
  top: 5%;
  left: 5%;
  transition: all 0.5s;
}

.nav_bar > i:hover {
  cursor: pointer;
  top: 7%;
  left: 7%;
}

.title {
  font-size: 60px;
  text-align: center;
  padding-top: 20px;
}

.title:hover {
  cursor: pointer;
}

.my_face {
  width: 75px;
  height: 75px;
  position: absolute;
  display: none;
  top: 5%;
  left: 30%;
  background-image: url(../1.jpeg);
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.button_group {
  padding-top: 25px;
  width: 450px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.button {
  background-color: greenyellow;
  width: 100px;
  height: 60px;
  border: 1px solid whitesmoke;
  border-radius: 8px;
  box-shadow: 3px 3px 3px 3px whitesmoke;
  transition: 0.5s;
  display: flex;
  color: #333;
  justify-content: center;
  align-items: center;
  font-size: 19px;
}

.button:hover {
  cursor: pointer;
  background-color: grey;
}

.clock {
  font-size: 28px;
  position: absolute;
  top: 5%;
  left: 83%;
}

/* MAIN */
.main > .inner {
  height: 420px;
  display: flex;
  overflow: auto;
}

article {
  width: 35%;
  height: 100%;
  border-right: 1px solid whitesmoke;
}

article:nth-child(3) {
  border: none;
}

.article_container {
  padding: 10px;
  font-size: 24px;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.aaa:link {
  color: #333;
}

.aaa:visited {
  color: #333;
}

.aaa:active {
  color: #333;
}

.aaa:hover {
  color: #333;
}

.article_container > h1 {
  margin-bottom: 10px;
}

li {
  margin-bottom: 10px;
}

li > a {
  text-decoration: none;
}

/* Main in my_project */
.blossom {
  display: none;
}

.predict_face {
  display: none;
}

.pygame {
  display: none;
}

/* Main in Api-project */
.project-inner {
  display: flex;
  flex-direction: column;
  position: relative;
}

.explain {
  padding-top: 35px;
  width: 100%;
}

.explain > span {
  display: block;
  width: 85%;
  text-align: center;
  font-size: 30px;
  margin: 0 auto;
  margin-bottom: 45px;
}

.explain > ol {
  width: 61%;
  font-size: 25px;
  margin: 0 auto;
}

.explain > ol {
  list-style: square;
}

.map_api-container {
  display: none;
}

.map-container {
  width: 100%;
  height: 300px;
  text-align: center;
  font-size: 35px;
  margin-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid gray;
}

.map-container > h1 {
  margin-bottom: 8px;
}

#map1 {
  height: 250px;
  width: 450px;
  margin: 0 auto;
}

#map2 {
  height: 250px;
  width: 450px;
  margin: 0 auto;
}

#map3 {
  height: 250px;
  width: 450px;
  margin: 0 auto;
}

.teacherbleMachine-container {
  display: none;
  width: 450px;
  margin: 0 auto;
  text-align: center;
  font-size: 25px;
}

.t-title {
  font-size: 35px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.fighting {
  position: absolute;
  top: 25%;
  left: 10%;
}

.fighting > ul {
  margin-top: 5px;
}

.others-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.address {
  width: 100%;
  height: 300px;
  border-bottom: 1px solid whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 35px;
}

.address > h1 {
  margin-bottom: 5px;
}

.address > input {
  margin-bottom: 5px;
  border-radius: 7px;
  font-size: 24px;
}

.advertise {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 35px;
}

.advertise > h1 {
  margin-bottom: 5px;
}

/* Main in jq-aj.html */
.slider-container {
  width: 75%;
  height: 500px;
  margin: 0 auto;
  text-align: center;
  font-size: 36px;
  padding-bottom: 10px;
  display: none;
}

.toggle-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

#toggle_btn {
  width: 200px;
  height: 100px;
}

/* FOOTER */
footer > .inner {
  height: 120px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: none;
}

@media screen and (max-width: 480px) {
  /* header */
  header > .inner {
    height: 170px;
  }

  .nav_bar > i {
    font-size: 25px;
  }

  .title {
    font-size: 50px;
  }

  .my_face {
    width: 35px;
    height: 35px;
    top: 17%;
    left: 15%;
  }

  .button_group {
    padding-top: 20px;
    width: 75%;
  }

  .button {
    width: 65px;
    height: 50px;
    font-size: 15px;
  }

  .clock {
    font-size: 13px;
    top: 5%;
    left: 78%;
  }

  /* main */
  .main > .inner {
    height: 490px;
  }

  .article_container {
    padding: 10px;
    font-size: 15px;
  }

  /* footer */
  footer > .inner {
    height: 160px;
    font-size: 15px;
  }
}
/* toggle button css */
.lightmode {
  background-color: whitesmoke;
  color: #333;
}

.lightmode2 {
  background-color: #333;
  color: whitesmoke;
}

.darkmode {
  background-color: grey;
  color: antiquewhite;
}
